/*verificado*/

*{
    padding: 5px ;
    margin: 0;
    box-sizing: border-box;
}

/*verificado*/
body{
    background:#262626;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#cabecera{
    text-align: center;
    background-color: blue;
    border: 0.5rem solid;
    border-color:gray ;
    font-size: 25px center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flexbox;
    text-transform: uppercase;
}
#contenido{
    display: flexbox;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color:white;
   padding-inline-start: 20px;
   align-items:flex-start;
   text-align: justify;
}

/*verificado*/
nav{      
    float: right;   
}
a{
    color:blue;
}


/*verificado*/
img{
    /*width: 120px;
    height: 50px;*/
    float: left;
    padding: 8px;
    align-items: center;
    align-content: center;
    left: 50%;
    text-align: center;
    top: 10px;
}

/*verificado*/
.menu{
    width: 900px;
    margin: 0 auto;
}

/*verificado*/
header{
    background: #03a9f4;
    width: 100%;
    clear: both;
    content: "";
    display: table;
}

/*verificado*/
nav ul li{
    list-style: none;
    margin-left: 75px;
    padding:12px 0;
    float: left;
    position: relative;
}

/*verificado*/
nav ul li a{
text-decoration: none;
color: #444;
font-weight: bold;
}

/*verificado*/
nav ul li a::before{
    display: block;
    content: "";
    width: 0%;
    background-color: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 1s;
}

/*verificado*/
nav ul li a:hover:before{
width: 100%;
}

section article ul{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    padding-inline-start: 20px;
    align-items:flex-start;
}

section article h2{

    color:white;
}

centrado{
    text-align: center;
}

h2{
    text-align: center;
    margin: 10px;
    text-decoration: none;
}

.boton{
    display: flex;
    padding: 2px;
    align-items: center;
    text-align: center;
    min-width: 50vh;
    height: 22px;
    

}
.btn{
    text-decoration: none;
    width: 200px;
    color: rgba(255, 255, 255, 0.384);
    background-color:rgba(255,115,0) ;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #a600ff;
    transition: ease-out .4s;
    font-size: 1.9rem;
    outline: none;
 
    
}

.btn:hover{
    box-shadow: inset 200px 0 0 0 #a600ff;
    color: #fff;
    
}

.botones{
    text-align: center;
    padding: 5px 5px;
}


